<div class="check-out-view">
    <div class="card-wrap">

        <div class="card {{cid}}-progress">
            <span class="loading-message">{{resource "checkOutLoadingMessageText"}}</span>
            <img class="loading-image" src="{{resource 'progressImageSrc'}}" alt="{{resource 'progressImageAlt'}}"/>
        </div>

        <div class="card hidden {{cid}}-error">
            <span class="error-message">{{resource "checkOutErrorMessageText"}}</span>

            <div class="form-buttons">
                <a class="ok-button button radius" href="#" tabindex="0">{{resource "okButtonText"}}</a>
            </div>
        </div>

        <div class="card hidden {{cid}}-loading">
            <h3>{{resource "checkOutHeaderText"}}</h3>

            <div class="form-group-input">
                <label class="form-label" for="additional-info-input">{{resource "additionalInfoHeaderText"}}</label>
                <input id="additional-info-input" class="form-input" name="additionalInfo" type="text" length="1000" placeholder="{{resource 'additionalInfoPlaceholder'}}" data-input="text"/>
                <a class="clear-form-input hidden" data-button="clear" data-parent="#additional-info-input" href="#" tabindex="0"><i class="fa {{resource 'clearIcon'}}"></i></a>
            </div>

            <div class="form-button">
                <a id="cancel-check-out-button" class="button secondary radius" href="#" tabindex="0">{{resource "cancelButtonText"}}</a>
                <a id="submit-check-out-button" class="button success radius" href="#" tabindex="0">{{resource "checkOutButtonText"}}</a>
            </div>
        </div>

        <div class="card hidden {{cid}}-info">
            <span class="info-message"></span>

            <div class="form-buttons">
                <a class="ok-button button radius" href="#" tabindex="0">{{resource "okButtonText"}}</a>
            </div>
        </div>

    </div>
</div>
